* {
	margin: 0;
	padding: 0;
}

.content {
	width: 50%;
	text-align: center;
}

#info{
	padding: 20px 15px;
	float:right;
	color:#CCE5FF;
	font-size: 22px;
}
#img{
	float:left;
	padding: 0px 20px 0px 0px;
	margin:200px 250px 700px 200px;
}